<div class = "container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com"> The Complete Rails developer</a>
      by <a href="http://www.pmpaul.com">Paul</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
  </div>